{% extends 'base.html' %}

{% block title %}
  Home
{% endblock %}
{% block navbar %}
  {% include 'partial/nav.html' %}
{% endblock %}
{% block content %}
  <h2>Add Employee</h2>
  <form method="POST" action="{{url_for("update_employee", id=employee.id)}}">
    {{ form.csrf_token() }}  
    <div class="form-group">
      {{ form.name.label(class='form-label') }}
      {{ form.name(class='form-control')}}
      {% for error in form.name.errors %}
        <div class="alert alert-danger">{{ error }}</div>
      {% endfor %}
    </div>
    <div class="form-group">
      {{ form.phone.label(class='form-label') }}
      {{ form.phone(class='form-control') }}
      {% for error in form.phone.errors %}
        <div class="alert alert-danger">{{ error }}</div>
      {% endfor %}
    </div>
    <div class="form-group">
        {{ form.designation.label(class='form-label') }}<br>
        {{ form.designation(class='form-control') }}<br>
        {% for error in form.designation.errors %}
        <div class="alert alert-danger">{{ error }}</div>
      {% endfor %}
    </div>

    <div class="form-group">
      {{ form.salary.label(class='form-label') }}
      {{ form.salary(class='form-control') }}
      {% for error in form.salary.errors %}
        <div class="alert alert-danger">{{ error }}</div>
      {% endfor %}
    </div>
    <div class="form-group">
      {{ form.short_description.label(class='form-label') }}
      {{ form.short_description(class='form-control') }}
      {% for error in form.short_description.errors %}
        <div class="alert alert-danger">{{ error }}</div>
      {% endfor %}
    </div>
    <button type="submit" class="btn btn-primary mt-3">{{ form.submit.label }}</button>
  </form>
{% endblock %}